# Model Evaluation

Notebook by Jeremy Eng

## Introduction
In this notebook, we will go through the process of creating a statistical model and evaluating its goodness of fit. We will do this for both a regression and classification model (linear and logistic regression).

## Model Identification
- EDA and data cleaning is "done" at this point.
- What is our dependent variable?
- What are our (potential) independent variables?
- Does this fit into a regression or classification framework?
- What statistical models can we use (linear regression or logistic regression for now)
    - Check model assumptions

## Regression Example

In this example, we will use a used car dataset. The dependent variable is 'selling_price' with all other variables being potential independent variables.

### Load the dataset

The dataset is stored locally as a csv. Take some time to familiarize yourself with the dataset. Assume the data cleaning has already been performed.

In [1]:
import pandas as pd

car_df = pd.read_csv("data/UsedCars2.csv")
car_df.head()

   selling_price  year  km_driven  owners   kmpl  engine_cc  power_bhp  seats
0         130000  2007     120000       1  16.10       1298       88.2      5
1         778000  2016      70000       2  24.52       1248       88.5      7
2         500000  2012      53000       2  23.00       1396       90.0      5
3         600000  2012      72000       1  21.50       1248       88.8      5
4        1149000  2019       5000       1  17.00       1591      121.3      5

In [2]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1595 entries, 0 to 1594
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   selling_price  1595 non-null   int64
 1   year           1595 non-null   int64
 2   km_driven      1595 non-null   int64
 3   owners         1595 non-null   int64
 4   kmpl           1595 non-null   float64
 5   engine_cc      1595 non-null   int64
 6   power_bhp      1595 non-null   float64
 7   seats          1595 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 99.8 KB

In [3]:
car_df.describe()

,selling_price,year,km_driven,owners,kmpl,engine_cc,power_bhp,seats
count,1.595000e+03,1595.000000,1595.000000,1595.000000,1595.000000,1595.000000,1595.000000,1595.000000
mean,6.963078e+05,2014.269592,67922.847649,1.431348,19.409555,1465.480878,93.251586,5.423824
std,8.844260e+05,3.698153,50196.275311,0.705434,3.904365,499.842407,35.342834,0.956879
min,4.000000e+04,1997.000000,1000.000000,0.000000,10.000000,624.000000,34.200000,4.000000
25%,2.800000e+05,2012.000000,32000.000000,1.000000,16.780000,1197.000000,70.000000,5.000000
50%,4.849990e+05,2015.000000,60000.000000,1.000000,19.300000,1248.000000,84.000000,5.000000
75%,7.000000e+05,2017.000000,90000.000000,2.000000,22.320000,1588.500000,103.600000,5.000000
max,6.223000e+06,2020.000000,500000.000000,4.000000,28.400000,3198.000000,261.400000,10.000000

### Building Models

We are now ready to start building a linear regression model! We are probably interested in how selling price depends on the other variables. Selling price is our dependent variable, but which independent variables should we use? All of them? A select few? Which will be the best model? There are a few strategies we could implement.

#### Forward Selection
1. Build all models that contain only one independent variable.
    - $selling\_price = b_0+b_1(year)$
    - $selling\_price = b_0+b_1(km\_driven)$
    - $selling\_price = b_0+b_1(fuel)$
    - etc...
2. Identify the best model (maybe highest adj. R<sup>2</sup> value) and then add one more variable at a time.
3. Find the new best model.
4. Repeat until you hit some stopping criteria (maybe adj. R<sup>2</sup> stops increasing or you get p-values > 0.05).

![](images/forward_selection.png)

In [4]:
import statsmodels.api as sm

y = car_df['selling_price']
indep = car_df.drop('selling_price', axis=1)

# X=[]
# for column in indep.columns:
#     X.append(sm.add_constant(indep[column]))

#Create a model for each indep. variable
#list of X's (with constants)
X = [sm.add_constant(indep[column]) for column in indep.columns] 
X[0]

      const  year
0       1.0  2007
1       1.0  2016
2       1.0  2012
3       1.0  2012
4       1.0  2019
...     ...   ...
1590    1.0  2017
1591    1.0  2014
1592    1.0  2010
1593    1.0  1997
1594    1.0  2009

[1595 rows x 2 columns]

In [5]:
Models = [sm.OLS(y,x) for x in X] #list of models
Results = [model.fit() for model in Models] #list of results
Adj_Rsquared = [results.rsquared_adj for results in Results] #list of rsquared
Pval = [results.pvalues for results in Results] #list of p-values
Params = [results.params for results in Results] #list of params

In [6]:
for i in range(len(Adj_Rsquared)):
     print(f'adj_R2: {Adj_Rsquared[i]:.3f}, P-values: {*Pval[i],}, column: {indep.columns[i]}')

adj_R2: 0.174, P-values: (7.813010353956536e-68, 2.9818464289395664e-68), column: year
adj_R2: 0.070, P-values: (1.9134087571564917e-142, 3.5013116609693015e-27), column: km_driven
adj_R2: 0.057, P-values: (1.5186541212441196e-102, 2.4331413136187826e-22), column: owners
adj_R2: 0.013, P-values: (8.935450361427155e-27, 2.0881588197525223e-06), column: kmpl
adj_R2: 0.199, P-values: (9.80558467000632e-14, 5.868115795937412e-79), column: engine_cc
adj_R2: 0.579, P-values: (9.412782556143103e-130, 3.711012723022368e-302), column: power_bhp
adj_R2: -0.000, P-values: (2.9224583539660517e-06, 0.4359248539986661), column: seats

From this output, we can see that the model with 'power_bhp' had the highest adj. R-squared value. Now let's try all models that consist of 'power_bhp' and another variable.

In [7]:
remaining_var = car_df.drop(['selling_price', 'power_bhp'], axis=1)
remaining_var.head()

   year  km_driven  owners   kmpl  engine_cc  seats
0  2007     120000       1  16.10       1298      5
1  2016      70000       2  24.52       1248      7
2  2012      53000       2  23.00       1396      5
3  2012      72000       1  21.50       1248      5
4  2019       5000       1  17.00       1591      5

In [8]:
included_df = car_df[['power_bhp']]
included_df

      power_bhp
0         88.20
1         88.50
2         90.00
3         88.80
4        121.30
...         ...
1590      67.04
1591      67.06
1592     102.00
1593      37.00
1594      73.90

[1595 rows x 1 columns]

In [9]:
X = [sm.add_constant(pd.merge(included_df,remaining_var[column], right_index = True, left_index = True)) for column in remaining_var.columns] 
X[0]

      const  power_bhp  year
0       1.0      88.20  2007
1       1.0      88.50  2016
2       1.0      90.00  2012
3       1.0      88.80  2012
4       1.0     121.30  2019
...     ...        ...   ...
1590    1.0      67.04  2017
1591    1.0      67.06  2014
1592    1.0     102.00  2010
1593    1.0      37.00  1997
1594    1.0      73.90  2009

[1595 rows x 3 columns]

In [10]:
Models = [sm.OLS(y,x) for x in X] #list of models
Results = [model.fit() for model in Models] #list of results
Adj_Rsquared = [results.rsquared_adj for results in Results] #list of rsquared
Pval = [results.pvalues for results in Results] #list of list of p-values

for i in range(len(Adj_Rsquared)):
     print(f'adj_R2: {Adj_Rsquared[i]:.3f}, P-values: {*Pval[i],}, column: {remaining_var.columns[i]}')

adj_R2: 0.639, P-values: (1.0016051895199304e-55, 1.2162697843818044e-288, 7.611907554020559e-55), column: year
adj_R2: 0.630, P-values: (2.978237375004821e-67, 2.737e-321, 1.3575094353399417e-46), column: km_driven
adj_R2: 0.605, P-values: (2.050256495629156e-46, 5.118641374948718e-303, 2.191183833001831e-23), column: owners
adj_R2: 0.618, P-values: (2.9293658745867043e-99, 0.0, 3.620556649188974e-35), column: kmpl
adj_R2: 0.596, P-values: (1.728416299582871e-80, 2.1729150764942868e-239, 5.051132565769463e-16), column: engine_cc
adj_R2: 0.595, P-values: (3.082726485673715e-09, 1.012762537e-314, 1.3612693239726515e-14), column: seats

It looks like 'power_bhp' with 'year' is now the "best" model. Keep repeating this process until the adjusted R<sup>2</sup> stops increasing by a significant amount, or we get insignificant indep. variables in our model.

In [11]:
remaining_var = car_df.drop(['selling_price', 'power_bhp', 'year'], axis=1)
included_df = car_df[['power_bhp', 'year']]

In [12]:
X = [sm.add_constant(pd.merge(included_df,remaining_var[column], right_index = True, left_index = True)) for column in remaining_var.columns] 
X[3]

      const  power_bhp  year  engine_cc
0       1.0      88.20  2007       1298
1       1.0      88.50  2016       1248
2       1.0      90.00  2012       1396
3       1.0      88.80  2012       1248
4       1.0     121.30  2019       1591
...     ...        ...   ...        ...
1590    1.0      67.04  2017        998
1591    1.0      67.06  2014       1364
1592    1.0     102.00  2010       2494
1593    1.0      37.00  1997        796
1594    1.0      73.90  2009       1248

[1595 rows x 4 columns]

In [13]:
Models = [sm.OLS(y,x) for x in X] #list of models
Results = [model.fit() for model in Models] #list of results
Adj_Rsquared = [results.rsquared_adj for results in Results] #list of rsquared
Pval = [results.pvalues for results in Results] #list of list of p-values

for i in range(len(Adj_Rsquared)):
     print(f'adj_R2: {Adj_Rsquared[i]:.3f}, P-values: {*Pval[i],}, column: {remaining_var.columns[i]}')

adj_R2: 0.653, P-values: (1.3816439156420248e-24, 1.1786444977578373e-300, 3.4248713672317866e-24, 6.940265994387377e-16), column: km_driven
adj_R2: 0.640, P-values: (3.15335527909705e-35, 9.663792642497783e-290, 8.600152533672702e-35, 0.006191716039329343), column: owners
adj_R2: 0.647, P-values: (3.2587569499239254e-31, 1.0195263014654433e-265, 5.950215985025432e-30, 3.909174785916448e-10), column: kmpl
adj_R2: 0.644, P-values: (2.323370060477927e-46, 2.5071744097738217e-198, 1.0856379138631448e-45, 1.0046581761544632e-06), column: engine_cc
adj_R2: 0.650, P-values: (5.766392969588885e-53, 1.2532079582596303e-298, 1.454656436017537e-52, 2.6354218998840384e-12), column: seats

Next include power_bhp, year, km_driven and one other variable.

In [14]:
remaining_var = car_df.drop(['selling_price', 'power_bhp', 'year', 'km_driven'], axis=1)
included_df = car_df[['power_bhp', 'year', 'km_driven']]

In [15]:
X = [sm.add_constant(pd.merge(included_df,remaining_var[column], right_index = True, left_index = True)) for column in remaining_var.columns] 
X[0]

      const  power_bhp  year  km_driven  owners
0       1.0      88.20  2007     120000       1
1       1.0      88.50  2016      70000       2
2       1.0      90.00  2012      53000       2
3       1.0      88.80  2012      72000       1
4       1.0     121.30  2019       5000       1
...     ...        ...   ...        ...     ...
1590    1.0      67.04  2017      12000       1
1591    1.0      67.06  2014      50000       1
1592    1.0     102.00  2010     129000       1
1593    1.0      37.00  1997     120000       1
1594    1.0      73.90  2009     120000       1

[1595 rows x 5 columns]

In [16]:
Models = [sm.OLS(y,x) for x in X] #list of models
Results = [model.fit() for model in Models] #list of results
Adj_Rsquared = [results.rsquared_adj for results in Results] #list of rsquared
Pval = [results.pvalues for results in Results] #list of list of p-values

for i in range(len(Adj_Rsquared)):
     print(f'adj_R2: {Adj_Rsquared[i]:.3f}, P-values: {*Pval[i],}, column: {remaining_var.columns[i]}')

adj_R2: 0.654, P-values: (1.402538668527342e-17, 4.4462183284630905e-301, 2.4623940605572272e-17, 4.820929991418996e-15, 0.054019726034519766), column: owners
adj_R2: 0.661, P-values: (4.520416085994112e-13, 1.136496374836487e-275, 1.6934225012947752e-12, 2.2234640713543074e-15, 1.2561337248197197e-09), column: kmpl
adj_R2: 0.654, P-values: (4.6971118083586745e-24, 2.5256308671787897e-184, 1.1055318498043682e-23, 8.273175073886037e-12, 0.019072029389499173), column: engine_cc
adj_R2: 0.658, P-values: (2.975609558940868e-26, 1.4477809213179904e-304, 5.446723778866051e-26, 1.428590102653869e-10, 5.954371587046363e-07), column: seats

Hopefully you get the idea. We eventually settle on a "best model". This whole process of forward selection can be quite time consuming! Usually a different selection method is preferred:

#### Backward Selection
1. Build a model that contains all variables
    - $selling\_price = b_0+b_1(year) + b_2(km\_driven) + b_3(fuel) + \ldots$
2. Remove one variable at a time usually based on p-value.
3. Repeat until you hit some stopping criteria (maybe adj. R<sup>2</sup> stops increasing).

![](images/backward_selection.png)

In [17]:
#run full model
y = car_df['selling_price']
X = car_df.drop('selling_price', axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          selling_price   R-squared:                       0.665
Model:                            OLS   Adj. R-squared:                  0.663
Method:                 Least Squares   F-statistic:                     449.6
Date:                Fri, 24 Feb 2023   Prob (F-statistic):               0.00
Time:                        09:45:03   Log-Likelihood:                -23231.
No. Observations:                1595   AIC:                         4.648e+04
Df Residuals:                    1587   BIC:                         4.652e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -6.48e+07   1.02e+07     -6.354      0.000   -8.48e+07   -4.48e+07
year        3.166e+04   5091.521      6.217      0.000    2.17e+04    4.16e+04
km_driven     -2.2522      0.320     -7.029      0.000      -2.881      -1.624
owners     -4.152e+04   2.14e+04     -1.937      0.053   -8.35e+04     513.940
kmpl         2.19e+04   4717.205      4.642      0.000    1.26e+04    3.12e+04
engine_cc    116.2561     54.374      2.138      0.033       9.603     222.909
power_bhp   1.811e+04    629.616     28.765      0.000    1.69e+04    1.93e+04
seats      -6.228e+04   1.98e+04     -3.146      0.002   -1.01e+05   -2.34e+04
==============================================================================
Omnibus:                      825.210   Durbin-Watson:                   1.803
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8420.276
Skew:                           2.197   Prob(JB):                         0.00
Kurtosis:                      13.363   Cond. No.                     6.70e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.7e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

Notice the Adj. R-Squared and the p-values for each of the coefficients. The coefficient for 'owners' seems to be the only variable that has a p-value > 0.05. Let's try removing it and running another model.

In [18]:
y = car_df['selling_price']
X = car_df.drop(['selling_price', 'owners'], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit() #fit the model (this is where OLS is actually being run)
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          selling_price   R-squared:                       0.664
Model:                            OLS   Adj. R-squared:                  0.663
Method:                 Least Squares   F-statistic:                     523.0
Date:                Fri, 24 Feb 2023   Prob (F-statistic):               0.00
Time:                        09:45:03   Log-Likelihood:                -23233.
No. Observations:                1595   AIC:                         4.648e+04
Df Residuals:                    1588   BIC:                         4.652e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -7.258e+07   9.38e+06     -7.735      0.000    -9.1e+07   -5.42e+07
year         3.55e+04   4694.064      7.562      0.000    2.63e+04    4.47e+04
km_driven     -2.3151      0.319     -7.256      0.000      -2.941      -1.689
kmpl        2.169e+04   4720.015      4.595      0.000    1.24e+04    3.09e+04
engine_cc    120.3224     54.381      2.213      0.027      13.656     226.989
power_bhp   1.806e+04    629.580     28.683      0.000    1.68e+04    1.93e+04
seats      -6.399e+04   1.98e+04     -3.233      0.001   -1.03e+05   -2.52e+04
==============================================================================
Omnibus:                      826.788   Durbin-Watson:                   1.799
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8454.458
Skew:                           2.201   Prob(JB):                         0.00
Kurtosis:                      13.384   Cond. No.                     6.16e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.16e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

At this point, we'd probably just stick with this model. All coefficients have significant p-values.

#### Stepwise Selection
- A combination of forward and backward selection.

#### Forward vs Backward Selection
- Forward selection is better when there are more variables than datapoints. Otherwise backward selection is typically used.
- Backward selection can consider the effects of all variables simultaneously.
- Different selection methods can give different results. An inexact science.
    - Notice in the backward selection model, engine_cc would have been the next to be eliminated if sig. level=0.01 instead of 0.05
- Over this process you'll find out which variables tend to get eliminated and which tend to be kept (hopefully).

## Classification Example

The exact same process can be used when building a logistic regression model. Perhaps we only have information on if the selling price of a car is greater than 500,000 or not.

In [19]:
car_df.head()

   selling_price  year  km_driven  owners   kmpl  engine_cc  power_bhp  seats
0         130000  2007     120000       1  16.10       1298       88.2      5
1         778000  2016      70000       2  24.52       1248       88.5      7
2         500000  2012      53000       2  23.00       1396       90.0      5
3         600000  2012      72000       1  21.50       1248       88.8      5
4        1149000  2019       5000       1  17.00       1591      121.3      5

In [20]:
import numpy as np
car_df['expensive'] = np.where(car_df['selling_price']>500000, 1, 0)
car_exp_df = car_df.drop(['selling_price'], axis=1)
car_exp_df

      year  km_driven  owners   kmpl  engine_cc  power_bhp  seats  expensive
0     2007     120000       1  16.10       1298      88.20      5          0
1     2016      70000       2  24.52       1248      88.50      7          1
2     2012      53000       2  23.00       1396      90.00      5          0
3     2012      72000       1  21.50       1248      88.80      5          1
4     2019       5000       1  17.00       1591     121.30      5          1
...    ...        ...     ...    ...        ...        ...    ...        ...
1590  2017      12000       1  23.10        998      67.04      5          0
1591  2014      50000       1  23.59       1364      67.06      5          0
1592  2010     129000       1  12.80       2494     102.00      8          0
1593  1997     120000       1  16.10        796      37.00      4          0
1594  2009     120000       1  19.30       1248      73.90      5          0

[1595 rows x 8 columns]

So 'expensive' is our binary dependent variable and we will consider the rest as potential independent variables. Let's use backwards selection for convenience :)

In [21]:
y = car_exp_df['expensive']
X  = car_exp_df.drop(['expensive'], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.Logit(y,X)
results = model.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.304869
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:              expensive   No. Observations:                 1595
Model:                          Logit   Df Residuals:                     1587
Method:                           MLE   Df Model:                            7
Date:                Fri, 24 Feb 2023   Pseudo R-squ.:                  0.5592
Time:                        09:45:03   Log-Likelihood:                -486.27
converged:                       True   LL-Null:                       -1103.1
Covariance Type:            nonrobust   LLR p-value:                3.753e-262
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1405.5027    100.711    -13.956      0.000   -1602.893   -1208.113
year           0.6897      0.050     13.857      0.000       0.592       0.787
km_driven   6.152e-07   2.04e-06      0.302      0.763   -3.38e-06    4.61e-06
owners        -0.4287      0.150     -2.865      0.004      -0.722      -0.135
kmpl           0.1988      0.029      6.776      0.000       0.141       0.256
engine_cc      0.0015      0.000      4.324      0.000       0.001       0.002
power_bhp      0.0726      0.006     12.117      0.000       0.061       0.084
seats          0.6499      0.126      5.140      0.000       0.402       0.898
==============================================================================

The p-value for the km_driven coefficient is >0.05. Let's try removing that from the model.

In [22]:
y = car_exp_df['expensive']
X  = car_exp_df.drop(['expensive', 'km_driven'], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.Logit(y,X)
results = model.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.304897
         Iterations 9
                           Logit Regression Results
==============================================================================
Dep. Variable:              expensive   No. Observations:                 1595
Model:                          Logit   Df Residuals:                     1588
Method:                           MLE   Df Model:                            6
Date:                Fri, 24 Feb 2023   Pseudo R-squ.:                  0.5591
Time:                        09:45:03   Log-Likelihood:                -486.31
converged:                       True   LL-Null:                       -1103.1
Covariance Type:            nonrobust   LLR p-value:                2.625e-263
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const      -1394.8604     94.087    -14.825      0.000   -1579.267   -1210.454
year           0.6844      0.046     14.734      0.000       0.593       0.775
owners        -0.4244      0.149     -2.850      0.004      -0.716      -0.132
kmpl           0.2003      0.029      6.931      0.000       0.144       0.257
engine_cc      0.0016      0.000      4.459      0.000       0.001       0.002
power_bhp      0.0725      0.006     12.130      0.000       0.061       0.084
seats          0.6536      0.126      5.192      0.000       0.407       0.900
==============================================================================

Looks like this can be our final model!